#game-div {
    width: 100%;
}
body {
    font-family: 'Lato';
    background-image: url("images/background.png");

}
.dropdown-toggle, #category, .navbar, .panel-heading, .page-heade {
    background-image: url("images/background2.png");
}

.panel{
    background-color: transparent;
    border: 1px #222;
}
.fa-btn {
    margin-right: 6px;
}

#money {
    background-image: url("images/coins20.png");
    width: 20px;
    height: 20px;
}
